/* MOBILE ONLY */
@media (max-width: 860px) {

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .about img{
        margin-right: 50%;
    }

    .about p{
        margin-top: 2em;
    }

    .main-header {
        padding: 20px 0;
        min-height: 70px;
    }

    .main-header .main-nav {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        display: grid;
        grid-template-rows:0fr;
        overflow: hidden;
        z-index: 10;
        transition: grid-template-rows 1s;
        align-items: end;
    }


    .main-header .main-nav ul {
        min-height: 0;
        grid-auto-flow: row;
        background-color: var(--clrPrimary2);
    }

    .main-header .main-nav li {
        border-bottom: 1px solid #ccc;
    }

    .menu-open {
        grid-template-rows: 1fr;
        background-color: aqua;
        overflow:visible;

    }

    .draw{
        flex-direction: column;
    }
}


/* SMALL */
@media (min-width: 640px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }

  
}

/* MEDIUM */
@media (min-width: 860px) {

    .btn-toggle-menu {
        display: none;
    }

    


}

/* LARGE */
@media (min-width: 1040px) {
    html {
        font-size: 1em;
    }

    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

} 