/* MOBILE ONLY */
@media (max-width: 860px) {

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .about img{
        margin-right: 50%;
    }

    .about p{
        margin-top: 2em;
    }

    .main-header {
       position: relative;
    }

    .main-header .main-nav {
        background-color: var(--clrBgHeader);

        position: absolute;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-content: end;
       
        bottom: 0;
        transform: translateY(100%);
        left: 0;
        width: 100%;
      }
    


    .main-header .main-nav ul {
        
        flex-direction: column;
    border: none;
    min-height: 0px;
    overflow: hidden;
    height: 100%;
    justify-content: flex-end;

    }

    .main-header .main-nav a {
        border-bottom: 1px solid #ccc;
        width: 100%;
        
    }

    .main-header .main-nav button {
        width: 100%;
        
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
        /*max-height:0;*/
       
    }

    body.menu-open .main-nav a:hover {
        box-shadow: none;
    }

    .draw{
        flex-direction: column;
    }

}

/* SMALL */
@media (min-width: 640px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }

  
}

/* MEDIUM */
@media (min-width: 860px) {

    .btn-toggle-menu {
        display: none;
    }

    


}

/* LARGE */
@media (min-width: 1040px) {
    html {
        font-size: 1em;
    }

    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

} 

.hide{
    display:none;
}