@font-face {
    font-family: "montserrat";
    src: url(../../fonts/montserrat.ttf);
  }
  
  /* lato */
  @font-face {
    font-family: "vina-sans";
    src: url(../../fonts/vina-sans.ttf);
  }
  