
footer{
    margin-block-start: 0.625em;
    background-color: var(--clrBgHeader);
    color: var(--clrPrimary1);
    text-align: center;
    padding: 1em;
}

footer .logo{
    margin-left: 0;
    color: var(--clrPrimary2);

}

  footer p {
    margin: unset;
  }
  