
footer{
    background-color: var(--clrBgHeader);
    color: var(--clrPrimary1);
    text-align: center;
    padding: 1em;
}

footer .logo{
    margin-left: 0;
    color: var(--clrPrimary2);

}