
.main-header {
    background-color: var(--clrBgHeader);
    color: var(--clrPrimary1);
    font-weight: bolder;

  }
  
  .main-header .logo {
    color: var(--clrPrimary2);
    font-size: 2em;
    margin-left: 1em;
  }
  
  
  .main-header .main-nav-list a {
    width: 4.5em;
    height: 4.5em;
  
    color: inherit;
    text-decoration: none;
    background-color:var(--clrBgHeader);
  
  
    transition: all 0.4s;
  }
  
  .main-header .main-nav-list a:hover {
    color: var(--clrPrimaryBase);
    box-shadow: inset 0 -6px var(--clrPrimaryBase);
  }

  .btn-toggle-menu{
    font-size: 2em;
    margin: 1em;
  }
  
  .main-header .main-nav-list button {
    width: 4.5em;
    height: 4.5em;
  
    color: inherit;
    text-decoration: none;
  
    transition: all 0.4s;
    border: none;
    background-color:var(--clrBgHeader);
    height: 100%;
    font-weight: bolder;
    font-family: montserrat;
    font-size: 1em;
    margin-right: 1em;
  }